@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lao Sans Pro", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #1f2022;
  color: #eff0fa;
}
